<h1>Seja Bem-vindo!</h1>

<h2>Autocadastro</h2>


<form action="#" method="post">
  <p>
    <label for="Nome">Nome:</label><br>
    <input type="text" id="Nome" name="Nome" placeholder="seu nome">
  </p>

  <p>
    <label for="email">E-mail:</label><br>
    <input type="email" id="email" name="email" placeholder="seu@email.com">
  </p>

  <p>
    <label for="senha">Senha:</label><br>
    <input type="password" id="senha" name="senha" placeholder="digite sua senha">
  </p>

  <p>
    <label for="telefone">Telefone:</label><br>
    <input type="text" id="telefone" name="telefone" placeholder="(00) 0000-0000">
  </p>

  <p>
    <button type="submit">Entrar</button>
  </p>
</form>

<p>
  <a href="#">Esqueci minha senha</a>
</p>