<head>
  <link rel="stylesheet" href="efetuar-orcamento.css">
</head>

<h1>Efetuar Orçamento</h1>

<p><strong>Estado atual:</strong>Em análise</p>


<h2>Dados da Solicitação</h2>
<p><strong>Nº da Solicitação:</strong> 1</p>
<p><strong>Tipo:</strong> Conserto</p>
<p><strong>Descrição:</strong>Tela quebrada</p>
<p><strong>Data da solicitação:</strong>20/08</p>
<p><strong>Prioridade:</strong>Baixa</p>


<h2>Dados do Cliente</h2>
<p><strong>Nome:</strong>Fernando</p>
<p><strong>CNPJ:</strong>000000</p>
<p><strong>Contato:</strong>4141414114</p>
<p><strong>E-mail:</strong>fernando@gmail.com</p>
<p><strong>Telefone:</strong>11111111</p>


<h2>Registrar Orçamento</h2>

<h2>Dados do Registro</h2>
<p><strong>Funcionário responsável:</strong>Fernando</p>
<p><strong>Data e hora do orçamento:</strong>26/08/2026 - 14:00</p>

