@if (solicitacao) {
  <main class="container">
    <h1>Efetuar Orçamento</h1>
    <p><strong>Estado atual:</strong> {{ solicitacao.estado }}</p>

    <div class="card mb-3">
      <div class="card-body">
        <h2>Dados da Solicitação</h2>
        <p><strong>Nº da Solicitação:</strong> {{ solicitacao.id }}</p>
        <p><strong>Categoria:</strong> {{ solicitacao.categoriaEquipamento }}</p>
        <p><strong>Descrição:</strong> {{ solicitacao.descricaoEquipamento }}</p>
        <p><strong>Defeito relatado:</strong> {{ solicitacao.descricaoDefeito }}</p>
        <p><strong>Data da solicitação:</strong> {{ solicitacao.dataHora | date:'dd/MM/yyyy HH:mm' }}</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h2>Dados do Cliente</h2>
        <p><strong>Nome:</strong> {{ solicitacao.nomeCliente }}</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h2>Registrar Orçamento</h2>
        <form #formOrcamento="ngForm">
          <div class="form-group">
            <label for="valorOrcamento">Valor do Orçamento (R$):</label>
            <input [disabled]="orcamentoConfirmado" type="number" class="form-control"
              id="valorOrcamento" name="valorOrcamento"
              [(ngModel)]="valorOrcamento" required min="0" step="1" placeholder="Preço">
          </div>

          @if (!orcamentoConfirmado) {
            <button type="button" class="btn btn-primary" (click)="confirmarOrcamento()"
              [disabled]="!formOrcamento.form.valid">
              <i class="fa fa-save" aria-hidden="true"></i> Confirmar Orçamento
            </button>
          } @else {
            <button type="button" class="btn btn-secondary" (click)="editarOrcamento()">
              <i class="fa fa-edit" aria-hidden="true"></i> Editar
            </button>
          }
        </form>
        <a class="btn btn-secondary" [routerLink]="['/home-funcionario']">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
        </a>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h2>Dados do Registro</h2>
        <p><strong>Funcionário responsável:</strong> {{ solicitacao.funcionarioOrcamento }}</p>
        <p><strong>Data e hora do orçamento:</strong> {{ solicitacao.dataHoraOrcamento | date:'dd/MM/yyyy HH:mm' }}</p>
        <p><strong>Último Valor:</strong> {{ solicitacao.valorOrcamento }}</p>
      </div>
    </div>
  </main>
} @else {
  <p>Solicitação não encontrada.</p>
}