<div class="container">

    <h1>Detalhes da Solicitação</h1>

    <section>
        <h2>Informações da solicitação</h2>

        <p>Descrição: {{ solicitacao.descricao }}</p>
        <p>Equipamento: {{ solicitacao.equipamento }}</p>
        <p>Categoria: {{ solicitacao.categoria }}</p>
        <p>Defeito: {{ solicitacao.defeito }}</p>
        <p>Data: {{ solicitacao.data }}</p>
        <p>Hora: {{ solicitacao.hora }}</p>
        <p>Status: {{ solicitacao.status }}</p>
    </section>

    <section>
        <h2>Histórico</h2>

        <!-- histórico será colocado aqui depois -->

    </section>

</div>