<div class="container">

    <h1>Detalhes da Solicitação</h1>

    <section>
        <h2>Informações da solicitação</h2>

      <p>Descrição: {{ solicitacao.descricaoEquipamento }}</p>
      <p>Equipamento: {{ solicitacao.descricaoEquipamento }}</p>
      <p>Categoria: {{ solicitacao.categoriaEquipamento }}</p>
      <p>Defeito: {{ solicitacao.descricaoDefeito }}</p>
      <p>Data: {{ solicitacao.dataHora | date:'dd/MM/yyyy' }}</p>
      <p>Hora: {{ solicitacao.dataHora | date:'HH:mm' }}</p>
      <p>Status: {{ solicitacao.estado }}</p>
    </section>

    <section>
        <h2>Histórico</h2>

        @for (item of solicitacao.historico; track $index) {
    <div class="historico-item">
        <strong>{{ item.estado }}</strong>
        <span>{{ item.dataHora | date:'dd/MM/yyyy HH:mm' }}</span>
    </div>
}

    </section>

</div>