<main class="container">
    <section class="titulo-cliente mb-4">
        <h1>Bem-vindo Gabriel!</h1>
        <p>Acompanhe suas solicitações!</p>
    </section>

    <section class="nova-solicitacao">
        <button class="btn btn-secondary bt-2">Nova Solicitação +</button>
    </section>

    <section class="minhas-solicitacoes">
        <h2>Minhas solicitações: </h2>
        <div class="filtro-solicitacoes">
            <label for="status">Filtrar por status:</label>
            <select id="status">
                <option value="todas">Todas</option>
                <option value="aberta">Abertas</option>
                <option value="andamento">Em andamento</option>
                <option value="concluida">Concluídas</option>
            </select>
        </div>
        <app-solicitacao-card 
            titulo="Notebook não liga" 
            equipamento="Notebook Dell" 
            data="18/08/2026" 
            status="Aberta">
        </app-solicitacao-card>
        <app-solicitacao-card 
            titulo="Impressora com problema" 
            equipamento="Impressora HP" 
            data="19/08/2026" 
            status="Em andamento">
        </app-solicitacao-card>
    </section>
</main>