<main class="container">
    <section class="titulo-cliente mb-4">
        <h1>Bem-vindo!!</h1>
        <p>Acompanhe suas solicitações!</p>
    </section>

    <section class="nova-solicitacao">
        <input type="button" class="btn btn-secondary mt-2" routerLink="/nova-solicitacao" value="Nova Solicitação +"/>
    </section>

    <section class="minhas-solicitacoes">
        <h2>Minhas solicitações: </h2>
        <div class="filtro-solicitacoes">
            <label for="status">Filtrar por status:</label>
            <select id="status">
                <option value="todas">Todas</option>
                <option value="aberta">Abertas</option>
                <option value="andamento">Em andamento</option>
                <option value="concluida">Concluídas</option>
            </select>
        </div>
        @for (solicitacao of solicitacoes; track solicitacao) {
            <app-solicitacao-card
                [titulo]="solicitacao.descricao"
                [equipamento]="solicitacao.equipamento"
                [data]="solicitacao.data"
                [hora]="solicitacao.hora"
                [status]="solicitacao.status"
                [solicitacaoId]="solicitacao.id"
                (detalhes)="verDetalhes(solicitacao)">
            </app-solicitacao-card>
        }
    </section>
</main>