<main class="container">
    <section class="titulo-cliente mb-4">
        <h1>Bem-vindo!!</h1>
        <p>Acompanhe suas solicitações!</p>
    </section>

    <section class="nova-solicitacao">
        <button class="btn btn-secondary mt-2 nova-solicitacao-btn" (click)="abrirNovaSolicitacao()">Nova Solicitação +</button>
    </section>

    <section class="minhas-solicitacoes">
        <h2>Minhas solicitações: </h2>
        <div class="filtro-solicitacoes">
            <label for="status">Filtrar por status:</label>
            <select id="status" (change)="filtrarStatus($event)">
                <option value="TODAS">Todas</option>
                <option value="ABERTA">Abertas</option>
                <option value="ORÇADA">Orçadas</option>
                <option value="APROVADA">Aprovadas</option>
                <option value="REJEITADA">Rejeitadas</option>
                <option value="CONCLUÍDA">Concluídas</option>
                <option value="PAGA">Pagas</option>
            </select>
        </div>
        <div class="solicitacoes-lista">
        @for (solicitacao of solicitacoesFiltradas; track solicitacao.id) {
            <app-solicitacao-card
                [solicitacaoId]="solicitacao.id"
                [equipamento]="solicitacao.equipamento"
                [data]="solicitacao.data"
                [hora]="solicitacao.hora"
                [status]="solicitacao.status"
                (detalhes)="verDetalhes(solicitacao)"
                (orcamento)="verOrcamento(solicitacao)"
                (pagamento)="verPagamento(solicitacao)">
            </app-solicitacao-card>
        }
        </div>
    </section>
</main>