<main class="container">
    <section class="titulo-funcionario mb-4">
        <h1>Solicitações abertas</h1>
        <p>Acompanhe as solicitações que precisam de atenção</p>
    </section>

    <section class="minhas-solicitacoes">
        <h2>Solicitações:</h2>
        <div class="solicitacoes-lista">
            @for (solicitacao of solicitacoesAbertas; track solicitacao.id) {
                <app-solicitacao-card [solicitacao]="solicitacao"></app-solicitacao-card>
            } @empty {
                <p>Nenhuma solicitação em aberto</p>
            }
        </div>
        <button class="botao-relatorio" type="button" routerLink="/relatorio-receitas">
            <i class="fa fa-file-pdf" aria-hidden="true"></i> Relatório de receitas
        </button>
        <button class="botao-relatorio" type="button" routerLink="/relatorio-categoria">
            <i class="fa fa-file-pdf" aria-hidden="true"></i> Receita por categoria
        </button>
        <button class="botao-relatorio" type="button" routerLink="/visualizar-solicitacao">
            <i class="fa fa-list" aria-hidden="true"></i> Ver todas as solicitações
        </button>
    </section>
</main>