<p>Solicitações em flex </p>

<main>
    <section class="solicitacoes-abertas">
        <h1>Solicitações abertas</h1>
        <div class="container"> 
            <div class="card">
                <p>CARD 1</p>
                <h3>Detalhes da solicitação</h3>
                <p>Data: {{ solicitacoesAbertas[0].data }}</p>
                <p>Hora: {{ solicitacoesAbertas[0].hora }}</p>
                <p>Autor: {{ solicitacoesAbertas[0].nomeCliente }}</p>
                <p>Descrição: {{ solicitacoesAbertas[0].descricao }}</p>
                <button class="btn-orcamento">Efetuar orçamento</button>
            </div>
                <div class="card">
                <p>CARD 2</p>
                <h3>Detalhes da solicitação</h3>
                <p>Data: {{ solicitacoesAbertas[0].data }}</p>
                <p>Hora: {{ solicitacoesAbertas[0].hora }}</p>
                <p>Autor: {{ solicitacoesAbertas[0].nomeCliente }}</p>
                <p>Descrição: {{ solicitacoesAbertas[0].descricao }}</p>
                <button class="btn-orcamento">Efetuar orçamento</button>
            </div>
                <div class="card">
                <p>CARD 3</p>
                <h3>Detalhes da solicitação</h3>
                <p>Data: {{ solicitacoesAbertas[0].data }}</p>
                <p>Hora: {{ solicitacoesAbertas[0].hora }}</p>
                <p>Autor: {{ solicitacoesAbertas[0].nomeCliente }}</p>
                <p>Descrição: {{ solicitacoesAbertas[0].descricao }}</p>
                <button class="btn-orcamento">Efetuar orçamento</button>
            </div>
        </div>
    </section>   
</main>
