<div class="pagina-pagamento">

  <div class="pagamento">

    <h1>Pagamento do Serviço</h1>

    <div class="dados-solicitacao">

      <h2>Dados da solicitação</h2>

      <div class="dado">
        <strong>Equipamento</strong>
        <span>{{ solicitacao.descricaoEquipamento }}</span>
      </div>

      <div class="dado">
        <strong>Categoria</strong>
        <span>{{ solicitacao.categoriaEquipamento }}</span>
      </div>

      <div class="dado">
        <strong>Defeito</strong>
        <span>{{ solicitacao.descricaoDefeito }}</span>
      </div>

      <div class="dado">
        <strong>Data</strong>
        <span>{{ solicitacao.dataHora | date:'dd/MM/yyyy' }}</span>
      </div>

      <div class="dado">
        <strong>Hora</strong>
        <span>{{ solicitacao.dataHora | date:'HH:mm' }}</span>
      </div>

    </div>

    <div class="valor">
      <p>Valor do serviço</p>
      <strong>R$ {{ solicitacao.valorOrcamento}}</strong>
    </div>

    <button class="btn-pagar" (click)="confirmarPagamento()">
      Confirmar Pagamento
    </button>

  </div>

</div>