<div class="pagina-pagamento">
<a class="btn btn-secondary ms-3 mt-3" [routerLink]="['/home-cliente']">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
  </a>

  <div class="pagamento">

    <h1>Pagamento do Serviço</h1>

    <div class="dados-solicitacao">

      <h2>Dados da solicitação</h2>

      <div class="dado">
        <strong>Equipamento</strong>
        <span>{{ solicitacao.descricaoEquipamento }}</span>
      </div>

      <div class="dado">
        <strong>Categoria</strong>
        <span>{{ solicitacao.categoriaEquipamento }}</span>
      </div>

      <div class="dado">
        <strong>Defeito</strong>
        <span>{{ solicitacao.descricaoDefeito }}</span>
      </div>

      <div class="dado">
        <strong>Data</strong>
        <span>{{ solicitacao.dataHora | date:'dd/MM/yyyy' }}</span>
      </div>

      <div class="dado">
        <strong>Hora</strong>
        <span>{{ solicitacao.dataHora | date:'HH:mm' }}</span>
      </div>

      <div class="dado">
        <strong>Descrição da Manutenção</strong>
        <span>{{ solicitacao.descricaoManutencao }}</span>
      </div>

      <div class="dado">
        <strong>Orientações para o cliente</strong>
        <span>{{ solicitacao.orientacoesCliente }}</span>
      </div>
    </div>

    <div class="valor">
      <p>Valor do serviço</p>
      <strong>R$ {{ solicitacao.valorOrcamento}}</strong>
    </div>

    <button class="btn-pagar" (click)="confirmarPagamento()">
      Confirmar Pagamento
    </button>
  </div>
  

</div>