<div class="solicitacao">

  <div class="icone-status">
    @if (estado === 'ABERTA') {
      <fa-icon [icon]="faClock"></fa-icon>
    }
    @if (estado === 'ORÇADA') {
      <fa-icon [icon]="faFileInvoiceDollar"></fa-icon>
    }
    @if (estado === 'APROVADA') {
      <fa-icon [icon]="faCircleCheck"></fa-icon>
    }
    @if (estado === 'REJEITADA') {
      <fa-icon [icon]="faCircleXmark"></fa-icon>
    }
    @if (estado === 'ARRUMADA') {
      <fa-icon [icon]="faScrewdriverWrench"></fa-icon>
    }
    @if (estado === 'PAGA') {
      <fa-icon [icon]="faMoneyCheckDollar"></fa-icon>
    }
  </div>
  <h3>{{ descricaoEquipamento() }}</h3>
 <p>Data: {{ dataHora | date:'dd/MM/yyyy' }} às {{ dataHora | date:'HH:mm' }}</p> 
  <span class="status">{{ textoEstado() }}</span>

  @if (estado === 'ORÇADA') {
    <button class="btn-orcamento" (click)="verOrcamento()">
      Ver orçamento
    </button>

  } @else {
    <button class="btn-detalhes" (click)="verDetalhes()">
      Ver detalhes
    </button>
  }

  @if (estado === 'REJEITADA') {
    <button class="btn-resgatar" (click)="resgatarServico()">
      Resgatar Serviço
    </button>
  }

  @if (estado === 'ARRUMADA') {
  <button class="btn-pagar" (click)="verPagamento()">
    Pagar Serviço
  </button>
}
</div>